body {
  background-color: whitesmoke;
}

.eg-cms-container {
  background-color: white;
  padding: 20px;
}

header .logo {
  display: block;
}

header .tagline {
  display: block;
  font-size: 22px;
  text-transform: none;
  margin: 0 0 20px 0;
}

header .nav {
  text-transform: uppercase;
}

.page-container {
  margin: 40px 0;
  /* TODO: apply a dynamic height to container for absolute positioned child elements (ember-animated-outlet) */
  min-height: 200px;
  position: relative;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

.page-container h1 {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

footer {
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
  padding-top: 20px;
}
