<footer>
  <div class="row">
    {{#with data.config.fields}}
      <div class="span8">
        <p>&copy; {{footerText}}</p>
      </div>
      <div class="span4">
        <p><a {{bindAttr href=githubLink}} target="_blank">EG-CMS on Github</a></p>
      </div>
    {{/with}}
  </div>
</footer>
