<header>
  {{#with data.config.fields}}
    <h1>
      <span class="logo">{{siteName}}</span>
      <span class="tagline">{{siteTagline}}</span>
    </h1>
  {{/with}}

  <!-- navigation -->
  {{render nav}}

</header>
