<header>
  {{#with data.config.fields}}
    <h1>
      <span class="logo">{{gsx$sitename.$t}}</span>
      <span class="tagline">{{gsx$sitetagline.$t}}</span>
    </h1>
  {{/with}}

  <!-- navigation -->
  {{render nav}}

</header>
