<header>
  <h1>
    {{#linkToPageAnimated data.firstPageName this}}
      <span class="logo">{{data.config.fields.siteName}}</span>
    {{/linkToPageAnimated}}
    <span class="tagline">{{data.config.fields.siteTagline}}</span>
  </h1>

  <!-- navigation -->
  {{render nav}}

</header>
