<div class="container eg-cms-container">

  <!-- header -->
  {{partial header}}

  <!-- page content -->
  <div class="page-container">
    {{outlet}}
  </div>


  <!-- footer -->
  {{partial footer}}

</div>
